body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}
a {
    color: white;
    font-size: 18px;
    font-weight: normal;
}
li {
    display: inline;
    margin-right: 20px;
}
.landing {
    background-color: #000;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.navi {
    float: right;
}
.exc {
    color: yellow;

}


#menu {
    padding-top: 20px;
}


#order-pizza {
    color: #000;
}


#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}
.contacts{


    background-image: url("images/bg_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-overlay{

    height: inherit;
    background-color: rgba(0,0,0,0.7);
    background-color: rgba(0, 0, 0, 0.7);
}